$module-name: 'hero';

.#{$module-name} {
	text-align: center;
	background-image: url('../images/bw-mountain.jpg');
	background-size: cover;
	background-position: center;
	padding: 50px 0 50px;

	&__header {
		display: inline-block;
		padding: 8px 10px;
		color: white;
		font-size: 40px;
		background-color: black;
	}

	&__desc {
		display: inline-block;
		padding: 8px 10px;
		font-size: 20px;
		color: lightgrey;
		background-color: black;
	}
}

@media (min-width: 600px) {
	.#{$module-name} {
		height: 600px;
		padding-bottom: 0;

		&__header {
			font-size: 70px;
		}

		&__desc {
			font-size: 30px;
		}
	}
}