body {
	margin: 0;
}

.container {
	position: relative;
}

.left-col {
	background: steelblue;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
}

.right-col {
	width: 100%;
	background: wheat;
	padding: 15px;
	box-sizing: border-box;
}

@media (min-width: 500px) {
	.left-col {
		float: left;
		width: 30%;
	}

	.right-col {
		float: left;
		width: 70%;
	}
}

